body {
    font-family: helvetica, arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: #FFF;
    background-color: #090909;
    text-align: center;
}

#timer {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size:7.5em;
}

button {
    font-size: 1.5em;
    padding: 0.75em 1em;
    border-radius: 0.3em;
    border: none;
    color: #FFF;
    cursor: pointer;
}

#start {
    background-color: #59c72e;
}
    #start:hover {
        background-color: #45a01f;
    }
    #start:disabled {
        background-color: #a0e3a3;
    }
#pause {
    background-color: #e6b31e;
}
    #pause:hover {
        background-color: #c9991a;
    }
    #pause:disabled {
        background-color: #f3d29a;
    }
#reset {
    background-color: #e03131;
}
    #reset:hover {
        background-color: #c71f1f;
    }
    #reset:disabled {
        background-color: #f39a9a;
    }